<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidprograming.martin.stem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_stem"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayHome" />
        <activity android:name=".StudyHome" />
        <activity android:name=".Calculus" />
        <activity android:name=".GameStart" />
        <activity android:name=".CantGame" />
        <activity android:name=".CalcLessonOne" />
        <activity android:name=".CalcLessonOneWrong" />
        <activity android:name=".CalcLessonOneCorrect" />
        <activity android:name=".GameQOne" />
        <activity android:name=".GameQTwo" />
        <activity android:name=".GameQThree" />
        <activity android:name=".GameQFour" />
        <activity android:name=".GameQFive" />
        <activity android:name=".RevealDay" />
        <activity android:name=".GameQuesTwo"></activity>
    </application>

</manifest>